# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/v16/Browse.VC.db

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/v16/Browse.VC.db-wal

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/v16/Browse.VC.opendb

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/v16/Browse.VC.db-shm

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/v16/.suo

Labs c\+\+ VSC/.vs/Labs c\+\+ VSC/
